@model ProjectVersionInfo
@{
    ViewData["Title"] = "Version Page";

    List<SelectListItem> onlineServices = new()
    {
        new() { Value = "github", Text = "Github" },
        new() { Value = "bitbucket", Text = "Bitbucket" }
    };
}

<form asp-controller="Versions" asp-action="Index" method="post">
    <div class="mb-4">
        <label class="form-label" asp-for="GitOnlineService">Git online service:</label>
        <select class="form-select" asp-for="GitOnlineService" asp-items="@(new SelectList(onlineServices, "Value", "Text"))">
        </select>
    </div>

    <div class="mb-4">
        <label class="form-label" asp-for="Username">Username:</label>
        <input class="form-control" type="text" asp-for="Username" placeholder="Enter username here." />
    </div>

    <div class="mb-4">
        <label class="form-label" asp-for="AppPassword">App password:</label>
        <input class="form-control" type="password" asp-for="AppPassword" placeholder="Enter app password here." />
    </div>

    <div class="mb-4">
        <label class="form-label" asp-for="RepoUrl">Repository Url:</label>
        <input class="form-control" type="text" asp-for="RepoUrl" placeholder="Enter repository URL here." />
    </div>

    <div class="mb-4">
        <label class="form-label" asp-for="BranchName">Branch name:</label>
        <select class="form-select" asp-for="BranchName">
            <option value="default">No branch loaded.</option>
        </select>
    </div>

    <div class="mb-4">
        <label class="form-label" asp-for="VersionPath">Path of Versions:</label>
        <input class="form-control" type="text" asp-for="VersionPath" placeholder="Enter versions path here.">
    </div>

    <div class="mb-4">
        <label class="form-label" asp-for="FromVersion">From version:</label>
        <input class="form-control" type="text" asp-for="FromVersion">
    </div>

    <div class="mb-4">
        <label class="form-label" asp-for="ToVersion">To version:</label>
        <input class="form-control" type="text" asp-for="ToVersion">
    </div>

    <div class="mb-4">
        <label class="form-label" asp-for="ProjectName">Project name:</label>
        <select class="form-select" asp-for="ProjectName">
            @foreach (Project project in ViewBag.Projects)
            {
                <option value="@project.Name">@project.Name</option>
            }
        </select>
    </div>

    <div class="d-flex align-content-center justify-content-center">
        <button class="btn btn-success w-25" type="submit">Submit</button>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const usernameInput = document.getElementById('Username');
        const appPasswordInput = document.getElementById('AppPassword');
        const repoUrlInput = document.getElementById('RepoUrl');
        const gitServiceInput = document.getElementById('GitOnlineService');
        const branchSelect = document.getElementById('BranchName');

        repoUrlInput.addEventListener('blur', function () {
            if (repoUrlInput.value) {
                const dataWithAuth = {
                    username: usernameInput.value,
                    appPassword: appPasswordInput.value,
                    repoUrl: repoUrlInput.value,
                    gitService: gitServiceInput.value
                };

                fetch('/Versions/GetBranches', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dataWithAuth)
                })
                    .then(response => response.json())
                    .then(branches => {
                        branchSelect.innerHTML = '';

                        branches.forEach(branch => {
                            const option = document.createElement('option');
                            option.value = branch;
                            option.text = branch;
                            branchSelect.add(option);
                        });
                    })
                    .catch(error => console.error('Error fetching branches:', error));

            }
        });
    });
</script>
