@model List<AccessNode>
@using System.Text.Json;

<div id="jstree"></div>

<button>Button</button>


@section Scripts
{
    <script>
    $(document).ready(function () {
        $('#jstree').jstree({
            "core": {
                "data": @Html.Raw(JsonSerializer.Serialize(Model)),
                "themes": {
                    "icons": false
                },
                "check_callback": true
            },
            "checkbox": {
                "three_state": false,
                "cascade": "up"
            },
            "plugins": ["checkbox", "contextmenu"],
            "contextmenu": {
                "items": function (node) {
                    return {
                        "select_children": {
                            "label": "Select All Children",
                            "action": function () {
                                var nodeData = $('#jstree').jstree(true).get_node(node);
                                var childNodes = $('#jstree').jstree(true).get_node(nodeData).children;

                                if (childNodes.length) {
                                    $.each(childNodes, function (index, child) {
                                        $('#jstree').jstree('select_node', child);
                                    });
                                } else {
                                    alert("No children to select.");
                                }
                            }
                        },
                        "unselect_children": {
                            "label": "Unselect All Children",
                            "action": function () {
                                var nodeData = $('#jstree').jstree(true).get_node(node);
                                var childNodes = $('#jstree').jstree(true).get_node(nodeData).children;

                                if (childNodes.length) {
                                    $.each(childNodes, function (index, child) {
                                        $('#jstree').jstree('deselect_node', child);
                                    });
                                } else {
                                    alert("No children to unselect.");
                                }
                            }
                        },
                        "select_children_one_depth": {
                            "label": "Select All Children (One Depth)",
                            "action": function () {
                                var nodeData = $('#jstree').jstree(true).get_node(node);
                                var childNodes = $('#jstree').jstree(true).get_node(nodeData).children;

                                if (childNodes.length) {
                                    $.each(childNodes, function (index, child) {
                                        $('#jstree').jstree('select_node', child);
                                    });
                                } else {
                                    alert("No children to select.");
                                }
                            }
                        }
                    };
                }
            }
        });
    });
</script>
}